body{
   width:300px;
   height:440px;
   display:inline-block;
   }

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

body { 
  font-family: "Nunito", sans-serif; 
  font-size: 15px; 
  background-color: rgba(3, 10, 31, 0.637); 
  background-image: url(./fishing2.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  color: rgb(233, 223, 223); 
  padding: 20px 10px 20px 10px; /*top right bottom left*/
}
a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }

#title{
  color:rgba(0, 128, 128);
}
#brick {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato",sans-serif;
  text-align: center;

  border: 3px solid white;
  color: white;
}
#brick:hover{
  border: none;
  color: white;
  font-size: 32px;
  transform:scale(1.1);

  background-color: #1d131117;
  transition: all 0.3s ease-in-out;
}
#brick span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.brick span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.brick:hover span, .brick:active span 
{
  padding-right: 30px;
}

.brick:hover span:after, .brick:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  /* border-color: rgb(53, 119, 80); */
  border-color: rgb(233, 233, 233);
  right: 0;
  top: 50%;
}

#myButton{
  align-items: center;
  text-align: center;
  /* vertical-align: middle; */
  display:block;
}



#webUrl
{
	/* font-size:30px; */
	display:inline-block;
}
#mainText
{
	/* font-size:30px; */
	display:inline-block;
}


/* The alert message box */
/* #message{
  text-align: center;
} */

#phishingAlert {
  padding: 20px;
  background-color: #f44336c7; /* Red */
  color: white;
  margin-bottom: 15px;
  display: none;
}
#safeAlert {
  padding: 20px;
  background-color: #28b16ca8; /* Red */
  color: white;
  margin-bottom: 15px;
  display: none;
}
#warningAlert {
  padding: 20px;
  background-color: #cc9227b0; /* Red */
  color: white;
  margin-bottom: 15px;
  display: none;
}
/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
.loader {
  border: 6px solid #f5f3f1f5;
  border-radius: 50%;
  border-top: 4px solid #20669454;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loaderDiv{
  text-align: center;
  display: none;
  align-items: center;
}
